body,
html {
    height: 100%;
    font-family: "Inconsolata", sans-serif;
}
.imagen-fondo {
    background-position: center;
    background-size: cover;
    background-image: url("../img/background_5.jpg");
    min-height: 100%;
}

h1 {
    font-size: 90px;
    color: red;
}

h2 {
	color:white;

}

h3 {
    font-size: 18px;
    font-family: "Segoe UI", Arial, sans-serif;
    font-weight: 400;
    margin: 10px 0;
}

h4 {

}

p {
	text-align: center;
	color:brown;
	font-size: 22px;
}